html, body {
	padding: 0px;
	margin: 0px;
}

canvas {
	width: 100%;
	height: 100%;
}


#glscreen{
	position: fixed;
	z-index: -99;
}

#url-input, #details-view{
	margin: auto;
	text-align: center;
	padding-top: 20%;
	padding-bottom: 100px;
	color: white;
}
#url-input h1, #details-view h1, #details-view h3, p{
	text-shadow: 1px 1px 1px #000000;
}

p a{
	text-shadow: none;
}

#details-view{
	padding-top: 0px;
}

body{
	overflow-y: scroll;
	overflow-x: hidden;
}

@media screen and (max-width: 900px) {
	#url-input, #details-view{
		max-width: 100% !important;
	}
}

#details-view img{
	max-width: 100%;
}