{# templates/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
	<div id="url-input" class="col-5">
		<h1>Please enter your URL</h1>
		
		
			<div class="row">
				<div class="col-12">
					<div class="input-group">
						<input id="longurl" type="text" class="form-control" aria-label="Input url to shorten">
						<div class="input-group-append">
							<button id="grab-shorturl" type="button" class="btn">Submit</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div id="url-reply"></div>
				</div>
			</div>
		
		
		
	</div>
	
{% endblock %}